.font-bebas{
    font-family: "bebas", sans-serif;
}

header {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.activite {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.activite h3 {
    margin: 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    #carousel-slides {
        display: flex;
        transform: translateX(0%);
    }


    .carousel-item {
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item.active {
        opacity: 1;
    }
    
    .carousel-item:not(.active) {
        opacity: 0;
        display: none;
    }


.font-bebas{
            font-family: "Bebas Neue", serif;
        }
        .textlarge{
            font-size: 80px;
        }
